%h1 Matches#index
%br
= link_to "Add Match", new_match_path
%br
%br
- @matches.each do |match|
  = match.name
  %br
  / = video_tag match.video.url
  %br
  %h3 Clips
  %br
  - match.clips.each do |clip|
    %div
      = video_tag clip.video, controls: true
    %br